
.emojuice-title {
margin: 30px 10px;
  opacity: 0.9;
  background-color: white;
}

header {
  padding: 20px;
  background-image: url("../img/fond-fruit.png");
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: -5px;
  font-size: 50px;
  color: #57bb6b;
  font-family: 'Sriracha', cursive;
}

header h2 {
  padding: 30px;
  font-family: 'Quattrocento', serif;
color: #57bb6b;
font-size: 15px;
}

header h3 {
  padding: 10px;
  border-radius: 10px;
  background-color:#57bb6b;
  color:white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
}

.fruits {
  padding: 40px;
  margin: -10px;
  background-color:#57bb6b;
}

main h2 {
  font-family: 'Maven Pro', sans-serif;
}
.intro {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.produits {
  color:white;
  text-align: center;
}
.banane {
  font-family: 'Sriracha', cursive;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  color: black;
  background-color: #fff8d7;
}

.banane div img {
  height:70px;
  position: relative;
  left:120px;
  top :30px;
}

.banane p {
  font-family: 'Quattrocento', serif;
  color: #7f7c6b;
}
.kiwi {
  font-family: 'Sriracha', cursive;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  color: black;
  background-color: #c4f2ad;
}

.kiwi div img {
  height:70px;
  position: relative;
  left:120px;
  top :30px;
}

.kiwi p {
  font-family: 'Quattrocento', serif;
  color: #637855;
}

.cafe {
  font-family: 'Sriracha', cursive;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  color: black;
  background-color: #d3c6b2;
}

.cafe div img {
  height:70px;
  position: relative;
  left:120px;
  top :30px;
}

.cafe p {
  font-family: 'Quattrocento', serif;
  color: #6b645a;
}

.fraise {
  font-family: 'Sriracha', cursive;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  color: black;
  background-color: #f7a4b4;
}

.fraise div img {
  height:70px;
  position: relative;
  left:120px;
  top :30px;
}

.fraise p {
  font-family: 'Quattrocento', serif;
  color: #7a5359;
}

footer {
  padding: 20px;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer h2{
  font-family: 'Maven Pro', sans-serif;
  color: #57bb6b;
}
footer p {
  padding: 30px;
  font-size: 10px;
  font-family: 'Maven Pro', sans-serif;
  color: #57bb6b;
}
footer .e-mail {
  justify-content: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color: #57bb6b;
}
footer .instagram {
 justify-content: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color: #57bb6b;
}
footer .facebook {
  justify-content: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color: #57bb6b;
}


a {
  font-size: 10px;
  font-family: 'Maven Pro', sans-serif;
  color: black;
}

.sirop-kiwi {
  margin: -10px;
  padding: 50px;
  text-align: center;
  background-color: #c4f2ad;
}

.sirop-kiwi h2 {
  font-family: 'Sriracha', cursive;
}

.sirop-kiwi h3 {
  font-size: 12px;
  color: #637855;
  font-family: 'Quattrocento', serif;
}

.sirop-kiwi img {
  height:90px;
}

.kiwi-presentation { 
  color: white;
  padding: 40px;
  margin: -10px;
  background-color: #57bb6b;
}

.other-produits{
  padding: 40px;
  margin: -10px;
  background-color: #c4f2ad;
  flex-direction: row;
  display: flex;
}

.h2-p-other-produits {
  text-align: center;
  padding: 10px;
  margin: -20px;
  background-color: #c4f2ad;
}

.cafe .img-cafe {
  height:70px;
  position: relative;
  left:-170px;
  top :30px;
}

.fraise .img-fraise {
  height:70px;
  position: relative;
  left:-170px;
  top :30px;
}

.p-other-produits {
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 15px;
  background-color: #57bb6b;
}
